body{
    background-color: rgb(157, 99, 211);
    padding-top: 230px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;

}
h1{
    color:white;
    font-size:30px;
    text-align: center;
    font-style: oblique;
    margin: 15px;
    padding-left: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

a{
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

li{
    margin: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

