.A {
    background-color:lightblue;
    
}
h1 {
    font-size:30px;
    text-align: center;
    font-style: oblique;
    margin: 10px;

}

h2{
    font-size:50px;
    text-align: center;
    font-style:oblique;
}
p {
    font-style:italic;
    text-align:center;
    font-size: 25px;
    
}

*{
    margin: 0;
    padding: 0;
}

.container {
    background-color:lightblue;
    width: 100%;
    height: auto;
    padding: 50px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container_filho {
    max-width: 100%;
    width: 40%;
    height: auto;
    padding: 20px ;
    margin: 0 auto;
    
}
.container_filho img{
    max-width: 100%;
    width: 40%;
    height: auto;
    padding: 20px ;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

.container > div{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 150px;
    margin: 0 10px;
}

.menu{
    list-style-type: none ;
    display: flex;
    background-color:rgb(98, 163, 228);
    font-style: italic;
    font-size: larger;
    
}

.menu ul{
    list-style-type: none;
    display: flex;
    overflow-x: auto;
}

.menu li{
    margin: 0 3%;
    padding: 20px 2px 11px 7px;
}

.menu a{
    text-decoration: none;
    color: black;
    
}
.menu a:hover{
    background-color:cornflowerblue;
    border-radius: 30%;
    color:#fff;
}


li {
    font-size:larger;
    text-align: center;
}

#img_01 {
    max-width: 100%;
    width: 37%;
    height: auto;
    padding: 20px ;
    margin: 0 auto;
}

/* styles.css */
body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

footer {
    background-color:rgb(98, 163, 228);
    color: #fff;
    padding: 0px;
    display: flex;
    justify-content: center;
    color:black;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

*{
    margin: 0;
    padding: 0;
}

.meus__links {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0%;
}

.meus__links__subtitulo {
    font-family: 'krona-one', sans-serif;
    font-size: 24px;
    color: #F6F6F6;
}

.meus__links a {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 10px;
    width: 200px;
    font-size: 21px;
    padding: 20px;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    
}

.meus__links a:hover {
    background-color:cornflowerblue;
    border-radius: 5px;
}

.rodape {
    padding: 20px;
    display: flex;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
}

.footerdt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 28px;
  }
  .footerdt a {
    color:#fff;
    text-decoration: none;
    margin: 10px;
  }
  .footerdt:hover a {
    opacity: 0.3;
    transition: 1.0s;
  }
  .footerdt:hover a:hover {
    opacity: 1;
    transition: 1.0s;
  } 

  #footer_copyright {
    background-color: dodgerblue;
    color: #F6F6F6;
  }