/*estilo do cabeçalho*/
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: black;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

header a:hover{
    color:rgb(3, 65, 44);
    transform: scale(1.05);
    transition: .2s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

header .menu-desktop {
    background-color: rgb(13, 116, 81);
    display: flex;
    font-style: italic;
    font-size: larger;
    gap: 5px;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    border-radius: 50px;
}
