*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(67, 132, 110);
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/*estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4px;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
}

.topo-do-site .txt-topo-site h1{
    font-size: 30px;
    text-align: center;
    font-style: oblique;
    line-height: 40px;
}

.topo-do-site .txt-topo-site p{
    margin: 40px 0;
    text-align: center;
}

.img-topo-site {
    text-align: center;
     border: 10px;
}

p{
    text-align: center;
}

/*estilo do sobre*/

section.sobre{
    padding: 40px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px; 
}

.sobre .txt-sobre{
    color: black;
}

.sobre .txt-sobre h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
     color:rgb(16, 58, 44);
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: center;
    line-height: 40px;

}

/*estilo da tabela*/

.sobre table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: rgb(13, 116, 81);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(22, 5, 5, 0.1);
}

.sobre th, .sobre td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid var(--cor-primaria);
}

.sobre th {
    background-color: var(--cor-secundaria);
    color: #fff;
    font-weight: bold;
}

.sobre td {
    background-color: #ffffff;
    color: var(--cor-texto);
}

.sobre tr:nth-child(even) td {
    background-color: var(--cor-fundo);
}

section .btn-projeto button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(34, 177, 89);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

section .btn-projeto button:hover{
    box-shadow: 0px 0px 10px rgb(10, 121, 53);
}

/*estilo do projeto*/

section.portifolio{
    padding: 70px 4%;
    flex-wrap: wrap;
    justify-content: center;
}

section.portifolio .flex{
    justify-content: space-between; 
    display: inline-block;
    padding: 40px 0;
}

.img-port{
    width: 100%;
    height: 360px;
    max-width: 460px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
    flex-shrink: 0;
    background-color: rgb(13, 116, 81);
}


section.portifolio .interface .flex .img-port {
    border: 1px solid var(--cor-contraste);
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px;
    padding: 2%;
    width: 430px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.portifolio .interface .flex .img-port:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.portifolio h3 {
    color: var(--cor-primaria);
    margin-top: 10px;
}

.portifolio p {
    color: var(--cor-secundaria);
    margin-top: auto;
}


/*estilo de contato*/

section.contato{
    padding: 40px 4%;

}

section.contato .flex{
    align-items: center;
    gap: 60px; 
}

.contato .txt-contato{
    color: black;
}

.contato .txt-contato h1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
}

.contato .txt-contato h1 span{
    color:rgb(16, 58, 44);
}

.contato .txt-contato p{
    padding: 25px;
}

.btn-social{
    font-style:italic;
    background-color:rgb(0, 109, 73);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-size: 31px;
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border-radius: 50px;
}

.btn-social a{
    color: black;
    font-weight: 100px;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    background-color: rgb(34, 177, 89);
    border: 0;
    border-radius: 40px;
} 

.btn-social a:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgb(4, 93, 38);
}

@media screen and (max-width: 940px){
    /*classes gerais*/
    .flex{
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    .sobre .flex .txt-sobre{
        flex-direction: column-reverse;

    }

    .sobre .flex .img-sobre{
        flex-direction: column-reverse;
    }

    /*cabeçalho*/
    .menu-dekstop, .btn-contato{
        display: none;
    }

    /*topo do site*/
    section.topo-do-site .flex{
        gap: 40px;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }

    .topo-do-site h1{
        font-size: 20px;
    }

    /*sobre*/
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-projeto{
        text-align: center;
    }    

    /*Projetos portifolio*/
    section.portifolio{
        padding: 80px 8%;
    }

    img.port{
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    }
    /*rodapé footer*/
    footer.flex {
        flex-direction: column;
        gap: 30px;
    }
}   

